<section class="hero" id="home">
  <div class="hero-grid"></div>
  <div class="hero-orb"></div>
  <div class="hero-orb2"></div>

  <div class="welcome-line">
    Ladies & Gentelmen, this is not a portoflio. This is <span class="in-word">in</span>
  </div>

  <div class="name-wrap">
    <span class="hero-name" data-text="Azer Farhat">Azer FARHAT</span>
  </div>


  <div class="role-wrap">
    <div class="role-bar"></div>
    <div class="role-text">{{ roleDisplay }}</div>
  </div>

  <div class="typewriter-row">
    <span class="tw-label">Currently building </span>
    <span class="tw-text">{{ typewriterText }}</span>
    <span class="cursor-blink"></span>
  </div>

  <div class="hero-ctas">
    <a href="#projects" class="btn-fill">See what I’ve built</a>
    <a href="#contact" class="btn-ghost">Let’s create something</a>
    <a href="https://github.com/azerfarhat" target="_blank" class="btn-ghost">
      <i class="ti ti-brand-github"></i> GitHub
    </a>
  </div>

  <div class="scroll-hint">
    <div class="scroll-line"></div>
    You’re just getting started, Keep scrolling
  </div>
</section>
